@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');

.text-style {
    font-family: Poppins, sans-serif;
}

.background {
    background-image: url("../images/background.jpg");
}

/*---------------------title---------------*/
.title {
    font-family: 'Space Mono', sans-serif;
    font-weight: 600;
    display: flex;
    text-align: center;
}

.title-container {
    display: flex;
}

/*---------------------question---------------*/

.question-box {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.question {
    width: 100%;
    font-size: 100%;
    text-align: center;
}

/*---------answer----------------*/
.answer-box {
    height: 100px;
    width: 300px;
    border: 1px solid black;
}

.tick {
    visibility: none;
    display: none;
}
.correct {
    visibility: visible;
    color: green;
}

.cross {
    visibility: none;
    display: none;
}

.incorrect {
    visibility: visible;
    color: red;
}

/*-----------------timer------------------*/
.timer {
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.timer-container {
    margin-right: 10%;
}

.countdown {
    font-size: 40px;
}