@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');

.text-style {
    font-family: Poppins, sans-serif;
    color: #bbee02;
    font-size: 8vw;
}

.background {
    background-image: url("../images/background.jpg");
    background-position: center;
}

.custom-layout {
    padding-top: 10%;
}
/*---------------------titles---------------*/

.title {
    font-family: 'Space Mono', sans-serif;
    font-weight: 600;
    display: flex;
    text-align: center;
    color: #bbee02;
    font-size: 8vw;
}

.title-container {
    display: flex;
}

.sub-title {
    font-family: Poppins, sans-serif;
    color: pink;
    font-size: 5vw;
}

.select-text {
    color: aliceblue;
    font-family: Poppins, sans-serif;
    font-size: 5vw;
    padding-top: 15%;
    text-align: center;
}

.select-text-two {
    color: aliceblue;
    font-family: Poppins, sans-serif;
    font-size: 4vw;
    padding-top: 5%;
    text-align: center;
}

/*---------------------question---------------*/

.question-box {
    height: 100%;
    width: 100%;
    border: 3px solid black;
    padding: 0% 0%; 
}

.question {
    width: 100%;
    text-align: center;
    color: #bbee02;
    font-size: 9vw;
}

/*---------answer----------------*/

.answer-box {
    height: 100px;
    width: 300px;
    border: 1px solid black;
}

.tick {
    visibility: none;
    display: none;
}
.correct {
    visibility: visible;
    color: green;
}

.cross {
    visibility: none;
    display: none;
}

.incorrect {
    visibility: visible;
    color: red;
}

.custom-input {
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-size: 4vw;
    font-family: Poppins, sans-serif;
}

.text-score {
    font-family: Poppins, sans-serif;
    color: aliceblue;
    font-size: 6vw;
}

/*-----------------buttons------------------*/

.button-container {
    padding: 5% 0%;
}

.custom-button {
    color: aliceblue;
    font-size: 5vw;
    background-image: linear-gradient(#ff7e14, rgb(88, 50, 0));
    padding: 0% 3%;
}

.button-container-two {
    padding-top: 5%;
}

.back-btn {
    color: aliceblue;
    font-size: 6vw;
    margin-left: 5%;
    padding-bottom: 5%;
}

/*-----------------timer------------------*/

.timer-container {
    margin-right: 10%;
    padding: 3% 0%;
}

.time-running-out {
    font-family: Poppins, sans-serif;
    color: red;
    font-size: 8vw;
}


/*-----------------slow------------------------*/

.slow-custom {
    margin-left: 5%;
}

.text-style-slow {
    font-family: Poppins, sans-serif;
    color: #bbee02;
    font-size: 4vw;
}


/*-----------------Top menu-------------*/


.tt-select {
    background-image: linear-gradient(#007514, aliceblue);
    width: 70%;
    text-decoration: none!important;
    text-align: center;
    border: 2px solid #b9b9b9;
}

.gold {
    background-image: linear-gradient(#615700 ,#b6a403);
    width: 70%;
    text-decoration: none!important;
    text-align: center;
}

.diamond {
    background-image: url("../images/diamond.jpg");
    width: 70%;
    text-decoration: none!important;
    text-align: center;
}

.platinum {
    background-image: linear-gradient(#b9b9b9, rgb(0, 0, 0));
    width: 70%;
    text-decoration: none!important;
    text-align: center;
    margin-bottom: 5%;
}

.times-table-text {
    font-family: Poppins, sans-serif;
    color: #2502ee;
    font-size: 6vw;
    padding-top: 3%;
}

.challenge-text {
    font-family: Poppins, sans-serif;
    color: #e4e5e6;
    font-size: 6vw;
    padding-top: 3%;
}