/*---------------------question---------------*/

.question-box {
    height: 200px;
    width: 400px;
    border: 1px solid black;
}

/*---------answer----------------*/
.answer-box {
    height: 100px;
    width: 300px;
    border: 1px solid black;
}

.tick {
    visibility: none;
    display: none;
}
.correct {
    visibility: visible;
    color: green;
}

.cross {
    visibility: none;
    display: none;
}

.incorrect {
    visibility: visible;
    color: red;
}

/*-----------------timer------------------*/
.timer-container {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}